:root{
    --large-text: 2rem;
    --medium-text: 1.5rem;
    --small-text: 1.2rem;
    --title-font: #c2411d;
}

body{
    font-family: Garamond (serif);
    width: 70%;
    margin: auto;
    background-color:rgb(240,240,240);
}
button{
    border: 1px solid black;
    border-radius: 5px;
    background-color: var(--title-font);
    color: white;
    text-transform: capitalize;
    width: 100px;
    height: 30px;
    font-size: var(--small-text);
}
.container{
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(6, 0.7fr);  
    background-color:rgb(230,230,230); 
    padding-left: 2rem;  
    padding-right: 2rem;
    height: 100vh;
}
.title-text{
    text-transform: capitalize;
    color: var(--title-font);
}
.title{
    text-align: center;
    font-size: var(--large-text); 
    color: var(--title-font);
    grid-column: 1 / span 5;
    grid-row: 1;
}
.subtitle{
    text-align: center;
    font-size: var(--medium-text); 
    color: var(--title-font);
    grid-column: 1 /span 5;
    grid-row: 2;
}
#label-input{
    grid-column: 1;
    grid-row: 3;
    font-size: var(--medium-text);
}
#input-item{
    grid-column: 2 / span 4 ;
    grid-row: 3;
    width: 100%;
    height: 100px;
    font-size: var(--small-text);
}
#button-item{
    grid-column: 3 /span 2;
    grid-row: 4;
    text-transform: capitalize;
    align-self: center;
    justify-self: center;
}
.box-item1{
    background-color: rgb(249, 249, 196);
    grid-row: 5 / span 2;
    height: 200px;
    width: 250px;
    border: 1px solid black;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-right: 1rem;
    overflow: hidden;
}
.box{
   grid-column: 2 / span 4;
   grid-row: 5;
   display: flex;
   width: 100%;
   height: 100%;
   justify-content: space-evenly;
}

.box-item-title{
    grid-column: 1 / span 2;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    font-size: var(--medium-text);
}
.box-item-content{
    grid-column: 1 / span 2;
    grid-row: 2;
    justify-self: center;
    align-self: center;
    padding-left: 1rem;
    height: 50%;
    width: 90%;
    overflow: hidden;
    font-size: var(--medium-text);
}
.box-item-button1{
    justify-self: center;
    align-self: center;
}
.view-note{
    border: 1px solid black;
    border-radius: 10px;
    grid-column: 3 / span 2;
    grid-row: 2 / span 4;
    background-color: var(--title-font);
    position: relative;
    z-index: 1;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.9fr;
    width: 100%;
    min-width: 100%;
}

.delete-btn{
    justify-self: center;
    align-self: center;
}


.close-btn{
    width: 30px;
    align-self: flex-start;
    justify-self: flex-end;
}
.view-note-text-field{
    background-color: white;
    overflow-y: scroll;
    height: 400px;
    padding: 0.5rem;
}